################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WCFMVC/WCFMVC.ClientLogic/obj
/WCFMVC/WCFMVC.Domain/bin
/WCFMVC/WCFMVC.Hosting/bin
/WCFMVC/WCFMVC.Hosting/obj
/WCFMVC/WCFMVC.ModelObject/bin
/WCFMVC/WCFMVC.ServiceContract/bin
/WCFMVC/WCFMVC.ServiceContract/obj
/WCFMVC/WCFMVC.Services/bin
/WCFMVC/WCFMVC.Services/obj
/WCFMVC/WCFMVC.Utility/bin
/WCFMVC/WCFMVC.Utility/obj
/WCFMVC/WCFMVC.Web/bin
/WCFMVC/WCFMVC.Web/obj
/WCFMVC/WCFMVC.Web.Tests/bin/Debug
/WCFMVC/WCFMVC.Web.Tests/obj
/WCFMVC/WCFMVC.WebUnity/bin
/WCFMVC/WCFMVC.WebUnity/obj
/WCFMVC/WCFMVC.ClientLogic/bin
