CREATE DATABASE [WCFMVCDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WCFMVCDB', FILENAME = N'E:\DatabaseFile\WCFMVCDB.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WCFMVCDB_log', FILENAME = N'E:\DatabaseFile\WCFMVCDB_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [WCFMVCDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [WCFMVCDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
